---
// Component Imports
import MainHead from "../components/MainHead.astro";
import NavBar from "../components/NavBar.astro";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import CustomContext from "../components/custom-context.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Projects from "./projects.astro";

// Data Fetching: List all Markdown posts in the repo.
// const projects = await Astro.glob("./project/**/*.md");
// const featuredProject = projects[0];
---

<html lang="en">
	<head>
		<MainHead title="Vijayasenthil E" description="" />
	</head>
	<body> 
		<NavBar/>
		<Head/>
		<Projects/>
		<CustomContext/>
		<Footer/>
	</body>
</html>
