---
import MainHead from '../components/MainHead.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
---

<section id="projects">

</section>


<style>
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}
</style>