---
import MainHead from '../components/MainHead.astro';
---

<section id="projects">
	<div class="project-container">
		<div class="project-card">
			<div class="project-card__image">
				<img src="https://images.unsplash.com/photo-1616166330001-1b1c2e1b1b1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="project image">
			</div>
			<div class="project-card__content">
				<h3 class="project-card__title">Project Title</h3>
				<p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl.</p>
				<a href="#" class="project-card__link">View Project</a>
			</div>
		</div>
		<div class="project-card">
			<div class="project-card__image">
				<img src="https://images.unsplash.com/photo-1616166330001-1b1c2e1b1b1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="project image">
			</div>
			<div class="project-card__content">
				<h3 class="project-card__title">Project Title</h3>
				<p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl.</p>
				<a href="#" class="project-card__link">View Project</a>
			</div>
		</div>
		<div class="project-card">
			<div class="project-card__image">
				<img src="https://images.unsplash.com/photo-1616166330001-1b1c2e1b1b1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="project image">
			</div>
			<div class="project-card__content">
				<h3 class="project-card__title">Project Title</h3>
				<p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl.</p>
				<a href="#" class="project-card__link">View Project</a>
			</div>
		</div>
		<div class="project-card">
			<div class="project-card__image">
				<img src="https://images.unsplash.com/photo-1616166330001-1b1c2e1b1b1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="project image">
			</div>
			<div class="project-card__content">
				<h3 class="project-card__title">Project Title</h3>
				<p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl.</p>
				<a href="#" class="project-card__link">View Project</a>
			</div>
		</div>
		<div class="project-card">
			<div class="project-card__image">
				<img src="https://images.unsplash.com/photo-1616166330001-1b1c2e1b1b1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="project image">
			</div>
			<div class="project-card__content">
				<h3 class="project-card__title">Project Title</h3>
				<p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl. Sed euismod, nisl sit amet aliquam tincidunt, nunc nisl aliquam tortor, vitae aliquam nisl nunc vel nisl.</p>
				<a href="#" class="project-card__link">View Project</a>
			</div>
		</div>

	</div>
</section>


<style>
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.project-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 1rem;
  padding: 1rem; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.project-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* justify-content: space-evenly; */
  padding-left: 10px;
}

.project-card__image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.project-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card__content {
  padding: 1rem;
}

.project-card__title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.project-card__description {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  color: #666;
}

.project-card__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
}
</style>