<div
    class="badge-base LI-profile-badge"
    data-locale="en_US"
    data-size="medium"
    data-theme="dark"
    data-type="VERTICAL"
    data-vanity="iamevs"
    data-version="v1"
>
    <a
        class="badge-base__link LI-simple-link"
        href="https://in.linkedin.com/in/iamevs?trk=profile-badge"
        >Vijayasenthil E</a>
</div>
