<!-- project container -->
<div class="projects">
    <div class="project-container">
        <div class="projects-cards">
            <div class="project-card">
                <div class="project-card-image">
                    <img
                        src="https://i.imgur.com/1ZQ3w9A.png"
                        alt="project image"
                    />
                </div>
                <div class="project-card-content">
                    <h3 class="project-card-title">Project 1</h3>
                    <p class="project-card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas
                        congue ligula ac quam viverra nec consectetur ante
                        hendrerit. Donec et mollis dolor. Praesent et diam eget
                        libero egestas mattis sit amet vitae augue. Nam
                        tincidunt congue enim, ut porta lorem lacinia
                        consectetur. Donec ut libero sed arcu vehicula ultricies
                        a non tortor. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean ut gravida lorem. Ut turpis
                        felis, pulvinar a semper sed, adipiscing id dolor.
                        Pellentesque auctor nisi id magna consequat sagittis.
                        Curabitur dapibus enim sit amet elit pharetra tincidunt
                        feugiat nisl imperdiet. Ut convallis libero in urna
                        ultrices accumsan. Donec sed odio eros. Donec viverra mi
                        quis quam pulvinar at malesuada arcu rhoncus. Cum sociis
                        natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. In rutrum accumsan ultricies.
                        Mauris vitae nisi at sem facilisis semper ac in est.
                    </p>
                </div>
            </div>
            <div class="project-card">
                <div class="project-card-image">
                    <img
                        src="https://i.imgur.com/1ZQ3w9A.png"
                        alt="project image"
                    />
                </div>
                <div class="project-card-content">
                    <h3 class="project-card-title">Project 2</h3>
                    <p class="project-card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas
                        congue ligula ac quam viverra nec consectetur ante
                        hendrerit. Donec et mollis dolor. Praesent et diam eget
                        libero egestas mattis sit amet vitae augue.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .projects-cards{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .project-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 400px;
        margin: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        transition: all 0.3s ease-in-out;
    }
    .project-card:hover{
        transform: scale(1.05);
    }
    .project-card-image{
        width: 100%;
        height: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }
    .project-card-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .project-card-content{
        width: 100%;
        height: 50%;
        padding: 1rem;
    }
    .project-card-title{
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .project-card-description{
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #333;
    }
    
</style>