---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
// import Nav from '../components/Nav.astro';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
		<link rel="stylesheet" href="src/styles/style.css">
	</head>
	<body>
		<slot/>
		<script>
			import "https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js";
			import "./../js/main.js";
		</script>
	</body>
</html>
