---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
	</head>
	<body>
		<Nav />
		<script>
			import "./../js/script.js";
			import "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js";
		</script>
	</body>
</html>
