---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
// import Nav from '../components/Nav.astro';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
		<link rel="stylesheet" href="src/styles/style.css">
	</head>
	<body>
		<slot/>
		<script>
			import "./../js/github.js";
			import "./../js/main.js";
			// import "./../js/menu.js";
			import "./../styles/style.css";
			import "./../styles/global.css";
		</script>
	</body>
</html>
