<section id="about">
        <div class="grid-layout">
          <div id="about-m">
            <div id="about-photo">
              <img
                src="assets/image/iuricode.svg"
                width="400px"
                height="400px"
                alt="ilustração do iuricode"
                class="delayMediumReveal"
                id="photo-iuricode"
              />
            </div>
            <article id="about-text">
              <h2 class="delaySmallReveal">Quem sou <span>.</span></h2>
              <p class="delayMediumReveal">
                Meu nome é Iuri Silva, ou “iuricode” (é como me chamam agora).
                Sou freelancer como Front-end developer e UI Designer.
                Desenvolvo interfaces modernas e de alta qualidade, concentrado
                em performance, animações, responsividade e SEO.
              </p>
            </article>
          </div>
        </div>
      </section>