---
import Img from "./../../public/assets/bg1.jpg";
---

<section class="about-wrapper section-wrapper">
    <section class="about container flex">
        <section class="about-main">
            <p class="hello-text">
                Hello there, I'm Lennox <span>👋<span></span></span>
            </p>
            <h1>
                Software Engineer <span>&#38;</span><br /> Freelance Web Developer
            </h1>
            <span class="location-text"
                ><i class="fas fa-map-marker-alt"></i>Based in Waterloo, ON</span
            >
            <p>
                I help empower businesses in my community who have limited
                online presence or technological expertise by building them web
                products optimized for the next generation of tech-savvy
                clients.
            </p>
            <button class="btn" type="button" name="button">My projects</button>
            <a class="about-main-contact" href="#">More About Me</a>
            <a href="#"></a>
        </section>
        <picture>
            <img src="img/portrait.jpg" alt="" />
        </picture>
    </section>
</section>

<style>
    :root {
        --skill-card-text-color-dark: rgba(0, 0, 0, 0.45);
        --skill-card-background-light: #fff;
        --text-shadow-headings-dark: -10px 10px 15px rgba(0, 0, 0, 0.8);
        --text-shadow-headings-light: none;
    }
    .about-wrapper {
        display: flex;
        flex-flow: column wrap;
        padding-top: 140px;
    }

    .about-main {
        text-align: center;
    }

    .about picture {
        margin: 0 auto;
        margin-top: 40px;
    }

    .about img {
        width: 100%;
        border-radius: 10px;
    }

    .about-main h1 {
        color: var(--primary-color);
    }

    .about-main h1 span {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }

    .about-main .location-text {
        display: inline-block;
        color: var(--primary-color);
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .location-text i {
        color: var(--secondary-color-light);
        margin-right: 8px;
    }

    .about-main .about-main-contact {
        margin-left: 20px;
        color: var(--primary-color);
        font-weight: bold;
        font-size: 1.6rem;
    }

    /*Scroll down animation tweaked from Codepen*/
    .scroll-downs {
        margin-top: 80px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .scroll-downs span {
        color: rgba(0, 0, 0, 0.4);
        font-size: 1.6rem;
    }

    .mousey {
        margin: 0 auto;
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }

    .scroller {
        margin: 0 auto;
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: var(--secondary-color);
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    }

    @keyframes scroll {
        0% {
            opacity: 0;
        }
        10% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(15px);
            opacity: 0;
        }
    }
</style>
