---
import Img from "./../../public/assets/bg1.jpg";
---

<section class="about-wrapper section-wrapper">
    <section class="about container flex">
        <section class="about-main">
            <p class="hello-text">
                Hello there, I'm Lennox <span>👋<span></span></span>
            </p>
            <h1>
                Software Engineer <span>&#38;</span><br /> Freelance Web Developer
            </h1>
            <span class="location-text"
                ><i class="fas fa-map-marker-alt"></i>Based in Waterloo, ON</span
            >
            <p>
                I help empower businesses in my community who have limited
                online presence or technological expertise by building them web
                products optimized for the next generation of tech-savvy
                clients.
            </p>
            <button class="btn" type="button" name="button">My projects</button>
            <a class="about-main-contact" href="#">More About Me</a>
            <a href="#"></a>
        </section>
        <picture>
            <img src="img/portrait.jpg" alt="" />
        </picture>
    </section>
</section>
