<section class="Bg">
    <div class="row">
        <div>
            <i class="fa-solid fa-code"></i>
            <i class="fa-solid fa-bug"></i>
            <i class="fa-solid fa-code-compare"></i>
            <i class="fa-solid fa-terminal"></i>
            <i class="fa-solid fa-laptop-code"></i>
            <i class="fa-solid fa-basketball-hoop"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-piggy-bank"></i>
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <i class="fa-light fa-heart"></i>
            <i class="fa-light fa-gamepad"></i>
            <i class="fa-solid fa-layer-group"></i>
        </div>
        <div>
            <i class="fa-solid fa-code"></i>
            <i class="fa-solid fa-bug"></i>
            <i class="fa-solid fa-code-compare"></i>
            <i class="fa-solid fa-terminal"></i>
            <i class="fa-solid fa-laptop-code"></i>
            <i class="fa-solid fa-basketball-hoop"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-piggy-bank"></i>
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <i class="fa-light fa-heart"></i>
            <i class="fa-light fa-gamepad"></i>
            <i class="fa-solid fa-layer-group"></i>
        </div>
    </div>
</section>
<style>
    
</style>