<section>
    <div class="row">
        <div>
            <i class="fa-solid fa-code"></i>
            <i class="fa-solid fa-bug"></i>
            <i class="fa-solid fa-code-compare"></i>
        </div>
    </div>
</section>
