<section class="Bg">
    <div class="row">
        <div>
            <i class="fa-solid fa-code"></i>
            <i class="fa-solid fa-bug"></i>
            <i class="fa-solid fa-code-compare"></i>
            <i class="fa-solid fa-terminal"></i>
            <i class="fa-solid fa-laptop-code"></i>
            <i class="fa-solid fa-basketball-hoop"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-piggy-bank"></i>
        </div>
    </div>
</section>
<style>
    .bg{
        position: absolute;
        top: -20px;
        z-index: -1;
        height: 100vh;
        width:100%;
    }
</style>