---
const currentYear = new Date().getFullYear();
---

<footer>
	&copy; {currentYear}
	<a href="https://www.github.com/iamevs">EVS</a>
	<small class="byline">🖤 Built by Astro</small>
</footer>
<style>
	footer {
		text-align: center;
		margin-top: 72px;
	}

	footer .grid-layout {
		border-top: 1px solid rgba(114, 114, 126, 0.2);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
		padding: 8px;
	}

	@media screen and (max-width: 768px) {
		footer .grid-layout {
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}

	footer .grid-layout #direitos-autorais {
		margin-top: 24px;
	}

	footer .grid-layout p {
		color: #cccccc;
		text-align: center;
		font-family: "DM Sans";
		font-size: 1.8rem;
	}

	footer .grid-layout div {
		margin-top: 24px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	footer .grid-layout div img {
		width: 24px;
		margin-left: 8px;
	}

	@media screen and (max-width: 768px) {
		footer .grid-layout div {
			width: 100%;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
</style>
