---
const currentYear = new Date().getFullYear();
---

<footer>
	&copy; {currentYear} <a href="https://www.github.com/iamevs">EVS</a>
	<small class="byline">🖤 Built by Astro</small>
</footer>
<style>
</style>
