---
import GitHubCalendar from "github-calendar";
---

<div class="Github-calender">
  <div class="calendar"></div>
</div>

<style>
  .Github-calender {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calendar {
    padding: 30px;
    width: 80%;
    color: #fff;
    height: 100%;
  }
  .contrib-number{
    color: #fff;
  }
</style>