---
import GitHubCalendar from "github-calendar";
import Coffee from "./../assets/coffee.png";
---

<div class="calender-container">
  <div class="head-container">
    <h2 id="head"> Days I code</h2>
    <img src={Coffee} alt="coffee">
  </div>
 
<div class="Github-calender">
  <div class="calendar"></div>
</div>
</div>

<style>
  .calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    width: 100%;
    height: 100%;
  }
  .head-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .head-container img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    transform: translateY(-10px);
  }
  #head {
    font-size: 4.4rem;
    color: #3a86ff;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.8);
  }
  .Github-calender {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calendar {
    padding: 30px;
    width: 80%;
    color: #fff;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: bold;
    letter-spacing: 0.5px;
  }
</style>
