---
// // import GitHubCalendar from "react-github-calendar";
// import {Row} from "react-bootstrap";
// ---

// <Row style={{ justifyContent: "center", paddingBottom: "10px" }}>
//   <h1 class="project-heading" style={{ paddingBottom: "20px" }}>
//     Days I <strong class="purple">Code</strong>
//   </h1>
//   <!-- <GitHubCalendar
//     username="iamevs"
//     blockSize={15}
//     blockMargin={5}
//     color="#c084f5"
//     fontSize={16}
//   /> -->
// </Row>

import GitHubCalendar from "github-calendar";

GitHubCalendar(".calendar", "iamevs", {
  responsive: true,
  tooltips: true,
});
