---
import Bg from "./Bg.astro";

---

<section id="home">
  <div class="grid-layout">
    <div id="home">
      <!-- <Bg /> -->
      <div id="home-container-text">
        <h1 class="delayMediumReveal">
          Hello !<br />
          <span id="home-name">Vijayasenthil E</span><br />
          <div class="loader">
            <h3>A passionate Full Stack Web Developer</h3>
        </div>
        </h1>
          <a
            href="https://www.github.com/iamevs"
            rel="noopener"
            target="_blank"
            class="delayExtraBigReveal"
          >
            Github
          </a>
        </div>
      </div>
    </div>
  </section>

  <style>
    .loader{
      position: relative;
      --webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
    }
  </style>