<section id="s-home">
    <div class="grid-layout">
      <div id="home">
        <div id="home-container-text">
          <h1 class="delayMediumReveal">
            Hello !<br />
            <span id="home-name">Vijayasenthil E</span><br />
            <span class="typewriter">
              A passionate Full Stack Web Developer
            </span>
          </h1>
          <a
            href="https://www.instagram.com/iamevs"
            rel="noopener"
            target="_blank"
            class="delayExtraBigReveal"
          >
            Instagram
          </a>
        </div>
        <div id="home-container-photo">
          <div id="home-photo">
            <img
              src="assets/image/logo-svg-lab.svg"
              alt="Logo iuricode"
              onload="SVGInject(this)"
              id="logo-lab"
              class="object"
              width="500px"
              height="500px"
            />
          </div>
        </div>
      </div>
    </div>
  </section>