---
import Bg from "./Bg.astro";
---

<section id="home">
  <div class="grid-layout">
    <div id="home">
      <!-- <Bg /> -->
      <div id="home-container-text">
        <h1 class="delayMediumReveal">
          Hello !<br />
          <span id="home-name">Vijayasenthil E</span><br />
          <div class="loader">
            <h2>passionate Full Stack Web Developer</h2> 
          </div>
        </h1>
          <a
            href="https://www.github.com/iamevs"
            rel="noopener"
            target="_blank"
            class="delayExtraBigReveal"
          >
            Github
          </a>
        </div>
      </div>
    </div>
  </section>

  <style>
    .loader{
      position: relative;
    }
    .loader:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(90deg, transparent, #fff, transparent);
      animation: blinkcursor 0.8s linear infinite;
    }
    .loader > h2{
      position: relative;
      letter-spacing: 1px;
      font-size: 1em;
      text-transform: capitalize;
    }
    @keyframes blinkcursor{
      0%{
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }
  </style>