<header>
    <div class="grid-layout">
      <nav>
        <img
          src="assets/image/logo-iuricode.svg"
          alt="Logo iuricode"
          width="150px"
          height="25px"
        />
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="#s-about">Quem sou</a></li>
          <li>
            <a href="#s-projects">Projetos</a>
          </li>
          <li>
            <a href="#s-services">Serviços</a>
          </li>
          <li>
            <a href="#s-skills">Conhecimentos</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>