---
import Bg from "./Bg.astro";
---

<section id="home">
  <div class="grid-layout">
    <div id="home">
      <!-- <Bg /> -->
      <div id="home-container-text">
        <h1 class="delayMediumReveal">
          Hello !<br />
          <span id="home-name">Vijayasenthil E</span><br />
          <div class="loader">
            <h2> passionate Full Stack Web Developer</h2>
          </div>
        </h1>
          <a
            href="https://www.github.com/iamevs"
            rel="noopener"
            target="_blank"
            class="delayExtraBigReveal"
          >
            Github
          </a>
        </div>
      </div>
    </div>
  </section>

  <style>
    /* typing animation for loader */
    .loader {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .loader:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0.5em;
      height: 0.5em;
      margin: 0.5em;
      box-shadow: 2.2em 0 0, 3.3em 0 0, 4.4em 0 0, 5.5em 0 0, 6.6em 0 0,
        7.7em 0 0, 8.8em 0 0;
      animation: load8 1.1s infinite linear;
    }
    @keyframes load8 {
      0% {
        box-shadow: 2.2em 0 0, 3.3em 0 0, 4.4em 0 0, 5.5em 0 0, 6.6em 0 0,
          7.7em 0 0, 8.8em 0 0;
      }
      12.5% {
        box-shadow: 2.2em 0 0, 3.3em 0 0, 4.4em 0 0, 5.5em 0 0, 6.6em 0 0,
          7.7em 0 0, 0 0 0, 0 0 0;
      }
      25% {
        box-shadow: 2.2em 0 0, 3.3em 0 0, 4.4em 0 0, 5.5em 0 0, 6.6em 0 0,
          0 0 0, 0 0 0, 0 0 0;
      }
      37.5% {
        box-shadow: 2.2em 0 0, 3.3em 0 0, 4.4em 0 0, 5.5em 0 0, 0 0 0, 0 0 0,
          0 0 0, 0 0 0;
      }
      50% {
        box-shadow: 2.2em 0 0, 3.3em 0 0, 4.4em 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0,
          0 0 0;
      }
      62.5% {
        box-shadow: 2.2em 0 0, 3.3em 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0,
          0 0 0;
      }
      75%
      {
        box-shadow: 2.2em 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0;
      }
      87.5% {
        box-shadow: 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0;
      }
      100% {
        box-shadow: 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0, 0 0 0;
      }
    }
    
  </style>