---
import Bg from "./Bg.astro";
---

<section id="home">
  <div class="grid-layout">
    <div id="home">
      <!-- <Bg /> -->
      <div id="home-container-text">
        <h1 class="delayMediumReveal">
          Hello !<br />
          <span id="home-name">Vijayasenthil E</span><br />
          <div class="loader">
            <h2>passionate Full Stack Web Developer</h2> 
          </div>
        </h1>
          <a
            href="https://www.github.com/iamevs"
            rel="noopener"
            target="_blank"
            class="delayExtraBigReveal"
          >
            Github
          </a>
        </div>
      </div>
    </div>
  </section>

  <style>
    .loader{
      position: relative;
    }
    .loader > h2{
      position: relative;
      letter-spacing: 1px;
      font-size: 1em;
      text-transform: capitalize;
    }
  </style>