---
import Me from "./Me.astro";
import Skills from "./Skills.astro";
import Projects from "./Project.astro";
---

<!-- <header id="home">
  <div class="grid-layout">
    <div id="home">
      <div id="home-container-text">
        <h1 class="delayMediumReveal">
          I am<br />
          <div id="home-name">EVS</div><br />
          <div>
            A passionate Full Stack Web Developer
          </div>
        </h1>
          <a
            href="https://www.github.com/iamevs"
            rel="noopener"
            target="_blank"
            class="delayExtraBigReveal"
          >
            Github
          </a>
        </div>
      </div>
    </div>
</header> -->
  <section class="empty"/>
  <Me/>
  <Skills/>
  <Projects/>

  <style>
    .empty{
      height: 100px;
      background:#212529;
    }
  </style>