---
import "../styles/global.css";
import "../styles/style.css";
const { title = "Vijayasenthil E", description = "The personal site of EVS" } =
  Astro.props;
---

<meta charset="UTF-8" />
<meta name="author" content="EVS" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#6610F2" />
<meta name="copyright" content="EVS 2022" />
<meta http-equiv="content-language" content="pt-br" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=IBM+Plex+Sans:wght@400;500;600&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="src/styles/style.css" />
<!-- <link
      rel="shortcut icon"
      href="assets/image/logo-page.svg"
      type="image/x-icon"
    /> -->
<!-- <link rel="icon" href="assets/image/logo-page.svg" /> -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
  integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr"
  crossorigin="anonymous"
/>
<title>{title}</title>
<meta name="description" content={description} />
<script src="https://kit.fontawesome.com/c13b2ed401.js" crossorigin="anonymous"
></script>

<script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
