---
import Img from "./../../public/assets/evs.webp";
---

<section id="about">
    <div class="grid-layout">
        <div id="about-m">
            <div id="about-photo">
                <img
                    src={Img}
                    width="400px"
                    height="400px"
                    alt="evs"
                    class="delayMediumReveal"
                    id="photo-iuricode"
                />
            </div>
            <article id="about-text">
                <p class="hello-text">
                    Hello there
                </p>
                <h1 id="about-head">
                     <span>,</span><br /> I'm EVS <span id="emoji"> 👋</span>
                </h1>
                <p class="text">
                    A determined web developer who communicate well with others
                    and am adaptable to change. I'm pursuing my second year of
                    college in Kumaraguru college of technology, Coimbatore.
                </p>
                <br>
                <p class="text">
                    A persistent worker who enjoys my work in gaining and
                    digging deeper a domain's knowledge to the atmost level. A
                    fellow with great attention to details and a blooming flower
                    of full stack development will asure you to give beautiful
                    ambience to your project
                </p>
            </article>
        </div>
    </div>
</section>

<style>
    #about-m {
        padding-top: 50px;
    }
    #emoji {
        font-size: 2.5rem;
        text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.8);
    }
    .hello-text {
        color: #ccc;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 20px;
        text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.8);
    }
    #about-head {
        font-size: 4.4rem;
        color: #3a86ff;
        font-weight: 600;
        margin-bottom: 20px;
        text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.8);
    }

    .text {
        line-height: 3.2rem;
        color: #cccccc;
        font-family: "DM Sans";
        font-size: 1.8rem;
        text-align: default;
        /* cursor: pointer; */
        /* cursor: pointer; */
    }
    .text > span {
        position: relative;
        display: inline-block;
        /* cursor: pointer; */
        cursor: grabbing;
    }
    .about-photo img {
        border-radius: 50%;
    }
    #about-text {
        width: 50%;
    }
    @media (max-width: 740px) {
        #about .grid-layout #about-photo {
            flex: 100%;
            justify-content: flex-end;
            width: 186px;
            height: 100%;
            width: 100%;
            filter: blur(0.5);
        }
        #about-text {
            width: 100%;
            z-index: 2;
            position: relative;
            /* top: -500px; */
        }
    }
</style>
