---
// import Img from "./../../public/assets/bg1.jpg";
---

<section id="about">
    <div class="grid-layout">
        <div id="about-m">
            <div id="about-photo">
                <img
                    src="https://images.unsplash.com/photo-1665478613994-a3636ae775b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                    width="400px"
                    height="400px"
                    alt="ilustração do iuricode"
                    class="delayMediumReveal"
                    id="photo-iuricode"
                />
            </div>
            <article id="about-text">
                <h2 class="delaySmallReveal">About EVS</h2>
                <p class="text">
                    I am determined to be cheerful and happy in whatever
                    situation I may find myself. For I have learned that the
                    greater part of our misery or unhappiness is deter.
                </p>
            </article>
        </div>
    </div>
</section>

<style>
    #about{
        margin-top:20px;
    }
    .text {
        line-height: 3.2rem;
        color: #cccccc;
        font-family: "DM Sans";
        font-size: 1.8rem;
        cursor: pointer;
    }
    .text > span {
        position: relative;
        display: inline-block;
        cursor:grabbing;
    }
</style>
