<nav>
	<svg
	  class="ham"
	  viewBox="0 0 100 100"
	  onclick="this.classList.toggle('active')"
	>
	  <path
		class="line top"
		d="m30 33h40c13.1 0 14.4 31.8 6.9 33.4c-24.6 5.3 9-52.3-12.8-30.6l-28.3 28.3"
	  />
	  <path
		class="line middle"
		d="m70 50c0 0-32.2 0-40 0c-7.8 0-6.4-4.6-6.4-8.6c0-5.9 6.1-11.8 12.3-5.6c6.2 6.2 28.3 28.3 28.3 28.3"
	  />
	  <path
		class="line bottom"
		d="m69.6 67.1h-40c-13.1 0-14.4-31.8-6.9-33.4c24.6-5.3-9 52.3 12.8 30.6l28.3-28.3"
	  />
	  <style>
		.ham {
		  cursor: pointer;
		  -webkit-tap-highlight-color: transparent;
		  transition: transform 400ms;
		  -webkit-user-select: none;
		  user-select: none;
		}

		.line {
		  fill: none;
		  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		  stroke-width: 5.5;
		  stroke-linecap: round;
		}

		.ham .top {
		  stroke-dasharray: 40 172;
		}

		.ham .middle {
		  stroke-dasharray: 40 111;
		}

		.ham .bottom {
		  stroke-dasharray: 40 172;
		}

		.ham.active .top {
		  stroke-dashoffset: -132px;
		}

		.ham.active .middle {
		  stroke-dashoffset: -71px;
		}

		.ham.active .bottom {
		  stroke-dashoffset: -132px;
		}
	  </style>
	</svg>

	<ul>
	  <!-- #0 is the best practice for empty links -->
	  <li><a href="#0">Home</a></li>
	  <li><a href="#about">About</a></li>
	  <li><a href="#projects">Projects</a></li>
	  <li><a href="#contact">Contact</a></li>
	</ul>

	<!-- Theme Toggle -->
	<!-- Custom element using shadow DOM -->
	<theme-toggle></theme-toggle>
  </nav>