<div class="navBar">
	<div class="logo">
		<h1>Vijayasenthil</h1>
		<!-- <img src="/1/logo.png" alt="evs"/> -->
	</div>
	<div class="navBar__menu">
		<ul>
			<li>
				<a href="#section1">Home</a>
			</li>
			<li>
				<a href="#section2">About</a>
			</li>
			<li>
				<a href="#section3">Skill</a>
			</li>
			<li>
				<a href="portfolio.html">Portfolio</a>
			</li>
			<li>
				<a href="#section4">Contact</a>
			</li>
		</ul>
	</div>
	<div class="sec1__menuIcon"></div>
</div>

<style>
	.navBar {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
		box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
		z-index: 2000;
	}

	.nav {
		max-width: 968px;
		height: var(--header-height);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav__logo,
	.nav__toggle {
		color: var(--title-color);
		font-weight: var(--font-medium);
	}

	.nav__logo:hover {
		color: var(--first-color);
	}

	.nav__toggle {
		font-size: 1.1rem;
		cursor: pointer;
	}

	.nav__toggle:hover {
		color: var(--first-color);
	}

	@media screen and (max-width: 767px) {
		.nav__menu {
			position: fixed;
			bottom: -100%;
			left: 0;
			width: 100%;
			background-color: var(--body-color);
			padding: 2rem 1.5rem 4rem;
			box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
			border-radius: 1.5rem 1.5rem 0 0;
			transition: 0.7s;
		}
	}

	.nav__list {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	.nav__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: var(--small-font-size);
		color: var(--title-color);
		font-weight: var(--font-medium);
	}

	.nav__link:hover {
		color: var(--first-color);
	}

	.nav__icon {
		font-size: 1.3rem;
	}

	.nav__close {
		position: absolute;
		right: 1.3rem;
		bottom: 0.5rem;
		font-size: 1.5rem;
		cursor: pointer;
		color: var(--first-color);
	}

	.nav__close:hover {
		color: var(--first-color-alt);
	}
</style>
