<div class="navBar">
	<div class="logo">
		<h1>Vijayasenthil</h1>
		<!-- <img src="/1/logo.png" alt="evs"/> -->
	</div>
	<div class="navBar__menu">
		<ul>
			<li>
				<a href="#section1">Home</a>
			</li>
			<li>
				<a href="#section2">About</a>
			</li>
			<li>
				<a href="#section3">Skill</a>
			</li>
			<li>
				<a href="portfolio.html">Portfolio</a>
			</li>
			<li>
				<a href="#section4">Contact</a>
			</li>
		</ul>

	</div>
	<div class="sec1__menuIcon"></div>
</div>