<header>
    <!-- <div class="grid-layout">
        <nav>
            <img
                src="./../../public/assets/favicon.svg"
                alt="EVS"
                width="150px"
                height="25px"
            />
            <span>EVS</span>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#home">Home</a></li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#project">Project</a>
                </li>
                <li>
                    <a href="#skills">skills</a>
                </li>
                <li>
                    <a href="#contact">contact</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <!-- add any image from online -->
    
    <img src="https://images.unsplash.com/photo-1665422266222-47021b73d524?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="banner">
    <a href="/" class="logo">EVS</a>
    <div class="toggle"></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Project</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<style>
    nav > span{
        color:#fff;
        font-size: 30px;
        font-weight: 500;
    }
</style>
