---
import Bg from "./../../public/assets/bg.jpg";

import Menu from "./../../public/assets/menu.png";
---

<header>
    <!-- <div class="grid-layout">
        <nav>
            <img
                src="./../../public/assets/favicon.svg"
                alt="EVS"
                width="150px"
                height="25px"
            />
            <span>EVS</span>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#home">Home</a></li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#project">Project</a>
                </li>
                <li>
                    <a href="#skills">skills</a>
                </li>
                <li>
                    <a href="#contact">contact</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <!-- <img src="https://images.unsplash.com/photo-1624377632657-3902bfd35958?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="banner"> -->
    <img src={Bg} class="banner" />
    <div >
        <h1 class="head-content">Hi, I'm <span class="name">EVS</span></h1>
        <a href="/" class="logo">EVS</a>
    </div>
    <div class="toggle"></div>
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Project</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<style>
    nav > span {
        color: #fff;
        font-size: 30px;
        font-weight: 500;
    }
    .logo, .head-content {
        /* color : #3a86ff !important; */
        color: #ccc !important;
        font-weight: 600;
        margin-bottom: 20px;
        text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.8);
    }
    .head-content{
        font-size: 50px !important;
        margin-top: 20px !important;
    }

    @media (max-width: 900px) {
        header {
            padding-right: 40px;
        }

        nav ul {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        nav.active ul {
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            height: calc(100%-80px);
            background-color: hsla(0, 0%, 12%, 0.416);
            /* opacity: 0.5; */
            /* filter: blur(10px); */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.25s;
        }

        nav ul li a {
            font-size: 2em;
            padding: 20px 0;
        }

        header.sticky .toggle {
            position: fixed;
            top: 15px;
            right: 40px;
            width: 50px;
            height: 50px;
            /* background: url(./../../public/assets/menu.png) no-repeat center center; */
            background: transparent;
            background-size: 30px;
        }

        header.sticky .toggle.active {
            background: url(./../../public/assets/cross.png) no-repeat center
                center;
            background-size: 30px;
            transform: rotate(180deg);
        }
    }
</style>
