<header>
    <div class="grid-layout">
        <nav>
            <!-- <img
                src="./../../public/assets/favicon.svg"
                alt="EVS"
                width="150px"
                height="25px"
            /> -->
            <span>Vijayasenthil</span>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#home">Home</a></li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#project">Project</a>
                </li>
                <li>
                    <a href="#skills">skills</a>
                </li>
                <li>
                    <a href="#contact">contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
