<section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true">My Experiences</a
                    >
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
                </li> -->
            </ul>
            <div class="tab-content" id="myTabContent">
                <div
                    class="tab-pane fade show active"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                >
                    <ul class="list">
                        <li>
                            <div class="media">
                                <div class="d-flex">
                                    <p>React</p>
                                </div>
                                <div class="media-body">
                                    <h4>Realtime chat app</h4>
                                    <p>Chat app using react js</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .mytabs_area {
        background-image: radial-gradient(
            circle farthest-corner at 10% 20%,
            rgba(69, 86, 102, 1) 0%,
            rgba(34, 34, 34, 1) 90%
        );
    }

    .tabs_inner .nav.nav-tabs {
        display: block;
        text-align: center;
        border: none;
        margin-bottom: 120px;
    }
    .tabs_inner .nav.nav-tabs li {
        display: inline-block;
        margin-right: 8px;
    }
    .tabs_inner .nav.nav-tabs li a {
        margin: 0px;
        line-height: 50px;
        border-radius: 5px;
        padding: 0px 40px;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        border: 1px solid #9ab5f5;
        background: rgba(255, 255, 255, 0.1);
    }

    .tabs_inner .nav.nav-tabs li a.active {
        /* background: #fff;
       color: #222222;  */
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(
            0deg,
            #766dff 0%,
            #88f3ff 100%
        );
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    }
    .tabs_inner .tab-content .tab-pane .list {
        max-width: 460px;
        margin: auto;
        position: relative;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .tabs_inner .tab-content .tab-pane .list:before {
        content: "";
        height: 100%;
        width: 5px;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 46%;
        transform: translateX(-50%);
        top: -5px;
    }
    .tabs_inner .tab-content .tab-pane .list li {
        margin-bottom: 60px;
        position: relative;
    }
    .tabs_inner .tab-content .tab-pane .list li span {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: block;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 46%;
        top: 30px;
        transform: translateX(-50%);
    }
    .tabs_inner .tab-content .tab-pane .list li span:before {
        content: "";
        height: 7px;
        width: 7px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 52%;
        top: 4px;
        transform: translateX(-50%);
    }
    .tabs_inner .tab-content .tab-pane .list li:last-child {
        margin-bottom: 0px;
    }
    .tabs_inner .tab-content .tab-pane .list li .media .d-flex {
        padding-right: 100px;
    }
    .tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 0px;
        padding-top: 20px;
    }
    .tabs_inner .tab-content .tab-pane .list li .media .media-body h4 {
        color: #fff;
        font-size: 25px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .tabs_inner .tab-content .tab-pane .list li .media .media-body p {
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 0px;
    }
</style>
