
    <section class="slides"> 
      
      <section class="slides-nav">
        <nav class="slides-nav__nav">
          <button class="slides-nav__prev js-prev">Prev-button</button>
          <button class="slides-nav__next js-next">Next-button</button>
        </nav>
      </section>
    
      <section class="slide is-active">
        <div class="slide__content">
          <figure class="slide__figure"><div class="slide__img" style="background-image: none;"></div></figure>
          <header class="slide__header">
            <h2 class="slide__title">
              <span class="title-line"><span>#1</span></span>
              <span class="title-line"><span>Project-1</span></span>
            </h2>
          </header>
        </div>
      </section>
    
      <section class="slide">
        <div class="slide__content">
          <figure class="slide__figure"><div class="slide__img" style="background-image: none"></div></figure>
          <header class="slide__header">
            <h2 class="slide__title">
              <span class="title-line"><span>#2</span></span>
              <span class="title-line"><span>Project-2</span></span>
            </h2>
          </header>
        </div>
      </section>
    
      <section class="slide">
        <div class="slide__content">
          <figure class="slide__figure"><div class="slide__img" style="background-image: none"></div></figure>
          <header class="slide__header">
            <h2 class="slide__title">
              <span class="title-line"><span>#3</span></span>
              <span class="title-line"><span>Project-3</span></span>
            </h2>
          </header>
        </div>
      </section>
    
      <section class="slide">
        <div class="slide__content">
          <figure class="slide__figure"><div class="slide__img" style="background-image: none"></div></figure>
          <header class="slide__header">
            <h2 class="slide__title">
              <span class="title-line"><span>#4</span></span>
              <span class="title-line"><span>Project-4</span></span>
            </h2>
          </header>
        </div>
      </section>
    </section>