<section class="testimonials_area p_120">
    <div class="container">
        
        <div class="main_title">
             <h1> Projects  </h1>
            
        </div>
         <div class="testi_inner">
            <div class="testi_slider owl-carousel">
                <div class="item">
                    <div class="testi_item">
                        <h3>Chat app</h3>  <h4>sub</h4>  <p><br>Description</p>
                        <a href="#" target="_blank"> <h4>github</h4> </a>
                            
                        
                                <div class="wel_item1">
                                    <i class="lnr lnr-users"></i>
                                    <h4>Realtime chat app using React js</h4>
                                    <p>Junior Web Dev</p>
                                </div>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>


                
            </div>
        </div> 
    </div>
</section>  