---
import cursor from "./../../src/cursor.png"
---

<div class="slider" id="slider">
    <div class="slider__content" id="slider-content">
        <div class="slider__images">
            <div
                class="slider__images-item slider__images-item--active"
                data-id="1"
            >
                <img src="#" alt="">
            </div>
            <div class="slider__images-item" data-id="2">
                <img src="#" alt="">
            </div>
            <div class="slider__images-item" data-id="3">
                <img src="#" alt="">
            </div>
            <div class="slider__images-item" data-id="4">
                <img src="#" alt="">
            </div>
            <div class="slider__images-item" data-id="5">
                <img src="#" alt="">
            </div>
        </div>
        <div class="slider__text">
            <div
                class="slider__text-item slider__text-item--active"
                data-id="1"
            >
                <div class="slider__text-item-head">
                    <h3>Forest</h3>
                </div>
                <div class="slider__text-item-info">
                    <p>
                        “And into the forest I go, to lose my mind and find my
                        soul”
                    </p>
                </div>
            </div>
            <div class="slider__text-item" data-id="2">
                <div class="slider__text-item-head">
                    <h3>Lake</h3>
                </div>
                <div class="slider__text-item-info">
                    <p>
                        “Mist to mist, drops to drops. For water thou art, and
                        unto water shalt thou return”
                    </p>
                </div>
            </div>
            <div class="slider__text-item" data-id="3">
                <div class="slider__text-item-head">
                    <h3>Cliffs</h3>
                </div>
                <div class="slider__text-item-info">
                    <p>
                        “Go to the edge of the cliff and jump off. Build your
                        wings on the way down”
                    </p>
                </div>
            </div>
            <div class="slider__text-item" data-id="4">
                <div class="slider__text-item-head">
                    <h3>Mountains</h3>
                </div>
                <div class="slider__text-item-info">
                    <p>“What are men to rocks and mountains?”</p>
                </div>
            </div>
            <div class="slider__text-item" data-id="5">
                <div class="slider__text-item-head">
                    <h3>Peaks</h3>
                </div>
                <div class="slider__text-item-info">
                    <p>“On all the peaks lies peace”</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__nav">
        <div class="slider__nav-arrows">
            <div class="slider__nav-arrow slider__nav-arrow--left" id="left">
                to left
            </div>
            <div class="slider__nav-arrow slider__nav-arrow--right" id="right">
                to right
            </div>
        </div>
        <div class="slider__nav-dots" id="slider-dots">
            <div class="slider__nav-dot slider__nav-dot--active" data-id="1">
            </div>
            <div class="slider__nav-dot" data-id="2"></div>
            <div class="slider__nav-dot" data-id="3"></div>
            <div class="slider__nav-dot" data-id="4"></div>
            <div class="slider__nav-dot" data-id="5"></div>
        </div>
    </div>
</div>

<style>
    @import url("https://fonts.googleapis.com/css?family=Lora:700");
    @import url("https://fonts.googleapis.com/css?family=Open+Sans");
    :root {
        --z-distance: 8.519vw;
        --from-left: 1;
        --mobile-bkp: 650px;
    }

    .slider {
        width: 100vw;
        height: 100vh;
        display: flex;
        perspective: 1000px;
        transform-style: preserve-3d;
        background-image: none;
    }
    .slider::before,
    .slider::after {
        content: "";
        left: -1vw;
        top: -1vh;
        display: block;
        position: absolute;
        width: 102vw;
        height: 102vh;
        background-position: center;
        background-size: cover;
        will-change: opacity;
        z-index: -1;
        /* box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.7) inset; */
    }
    .slider::before {
        background-image: var(--img-prev);
    }
    .slider::after {
        transition: opacity 0.7s;
        opacity: 0;
        background-image: var(--img-next);
    }
    .slider--bg-next::after {
        opacity: 1;
    }
    .slider__content {
        margin: auto;
        width: 65vw;
        height: 32.5vw;
        max-height: 60vh;
        will-change: transform;
        transform-style: preserve-3d;
        pointer-events: none;
        transform: translateZ(var(--z-distance));
    }
    .slider__images {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        box-shadow: 0 0 5em #000;
    }
    .slider__images-item {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        will-change: transform;
        transition-timing-function: ease-in;
        visibility: hidden;
    }
    .slider__images-item img {
        display: block;
        position: relative;
        left: -1em;
        top: -1em;
        width: calc(100% + 1em * 2);
        height: calc(100% + 1em * 2);
        object-fit: cover;
        will-change: transform;
    }
    .slider__images-item--active {
        z-index: 20;
        visibility: visible;
    }
    .slider__images-item--subactive {
        z-index: 15;
        visibility: visible;
    }
    .slider__images-item--next {
        transform: translateX(100%);
    }
    .slider__images-item--prev {
        transform: translateX(-100%);
    }
    .slider__images-item--transit {
        transition: transform 0.7s, opacity 0.7s;
    }
    .slider__text {
        position: relative;
        height: 100%;
    }
    .slider__text-item {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0.5em;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    .slider__text-item > * {
        overflow: hidden;
        position: absolute;
    }
    .slider__text-item h3,
    .slider__text-item p {
        transition: transform 0.35s ease-out;
        line-height: 1.5;
        overflow: hidden;
    }
    .slider__text-item h3 {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .slider__text-item p {
        font-family: "Open Sans", sans-serif;
        padding: 1em;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .slider__text-item h3::before,
    .slider__text-item p::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 105%;
        height: 100%;
        transform: translateX(0);
        transition: transform 0.35s ease-out 0.28s;
    }
    .slider__text-item h3::before {
        background-color: #000;
    }
    .slider__text-item p::before {
        background-color: #fff;
    }
    .slider__text-item h3 {
        margin: 0;
        font-size: 3.5em;
        padding: 0 0.3em;
        position: relative;
        font-weight: 700;
        transform: translateX(-100%);
    }
    .slider__text-item p {
        margin: 0;
        transform: translateX(100%);
    }
    .slider__text-item-head {
        top: -0.5em;
        transform: translateZ(3em);
    }
    .slider__text-item-info {
        bottom: 0;
        right: 0;
        max-width: 75%;
        min-width: min-content;
        transform: translateZ(2em);
    }
    .slider__text-item--active h3,
    .slider__text-item--active p {
        transform: translateX(0);
    }
    .slider__text-item--active h3::before {
        transform: translateX(102%);
    }
    .slider__text-item--active p::before {
        transform: translateX(-102%);
    }
    .slider__text-item--backwards h3::before,
    .slider__text-item--backwards p::before {
        transition: transform 0.35s ease-in;
    }
    .slider__text-item--backwards h3,
    .slider__text-item--backwards p {
        transition: transform 0.35s ease-in 0.35s;
    }
    .slider__nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .slider__nav-arrows {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .slider__nav-arrow {
        height: 100vh;
        width: 50vw;
        text-indent: -9999px;
        white-space: nowrap;
    }
    .slider__nav-arrow--left {
        --arrow : url(src\cursor.png)
        cursor: var(--arrow) 40 40, auto;
    }
    .slider__nav-arrow--right {
        /* --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
        cursor: var(--arrow) 40 40, auto; */
    }
    .slider__nav-dots {
        margin-top: 88vh;
        display: none;
        position: relative;
        padding: 1em;
        pointer-events: none;
    }
    .slider__nav-dots::before {
        content: "";
        position: absolute;
        left: calc(1em + 1em + 2px);
        top: calc(1em + 2px);
        width: calc(1em - 2px * 2);
        height: calc(1em / 2 - 2px * 2);
        background-color: rgba(255, 255, 255, 0.9);
        transition: transform 0.7s ease-out;
        transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)));
    }
    .slider__nav-dot {
        margin: 0 1em;
        width: 1em;
        height: 0.5em;
        border: 2px solid rgba(255, 255, 255, 0.5);
        cursor: crosshair;
        pointer-events: all;
        display: inline-block;
    }
    .slider__nav-dot:hover {
        border-color: rgba(255, 255, 255, 0.7);
    }
    .slider__nav-dot:active {
        border-color: rgba(255, 255, 255, 0.5);
    }

    @media only screen and (max-width: 650px) {
        .slider::before,
        .slider::after {
            display: none;
        }

        .slider__content {
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
        }

        .slider__text-item-info {
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
        .slider__text-item-info p {
            padding: 1em 0.8em;
        }

        .slider__text-item-head {
            top: 5vh;
            left: 10vw;
            transform: translateZ(0);
        }
        .slider__text-item-head h3 {
            font-size: 2.5em;
        }

        .slider__nav-dots {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .slider__nav-arrow {
            width: 10vw;
            position: relative;
            cursor: auto;
        }
        .slider__nav-arrow:active {
            filter: brightness(0.5);
        }
        .slider__nav-arrow::before {
            content: "";
            background-image: var(--arrow);
            background-size: cover;
            width: 8vw;
            height: 8vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .slider__nav-arrow--left {
            background-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.7) 0,
                transparent 100%
            );
        }
        .slider__nav-arrow--left:active {
            background-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.9) 0,
                transparent 100%
            );
        }
        .slider__nav-arrow--right {
            background-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0.7) 0,
                transparent 100%
            );
        }
        .slider__nav-arrow--right:active {
            background-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0.9) 0,
                transparent 100%
            );
        }
    }
</style>
