<section class="testimonials_area p_120">
    <div class="container">
        <div class="main_title">
            <h1>Projects</h1>
        </div>
        <div class="testi_inner">
            <div class="testi_slider owl-carousel">
                <div class="item">
                    <div class="testi_item">
                        <h3>Chat app</h3>
                        <h4>sub</h4>
                        <p><br />Description</p>
                        <a href="#" target="_blank"> <h4>github</h4></a>

                        <div class="wel_item1">
                            <i class="lnr lnr-users"></i>
                            <h4>Realtime chat app using React js</h4>
                            <p>Junior Web Dev</p>
                        </div>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .wel_item1:hover {
        text-align: center;
        border: 1px solid #86e7ff;
        padding: 20px 20px;
        border-radius: 14px;
        background-color: #222222;
        box-shadow: 1.5px 1.5px 0px 0px #2c2b2b;
    }

    .wel_item1 {
        text-align: center;
        border: 1px;
        min-height: 100%;
        padding: 20px 20px;
        border-radius: 5px;
    }

    .wel_item1 i {
        padding-bottom: 15px;

        /* padding-left:30%; */
        font-size: 45px;
        background: linear-gradient(to right, #766dff 0%, #86e7ff 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .wel_item1 h4 {
        font-size: 24px;
        font-family: "Heebo", sans-serif;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .wel_item1 p {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        color: #c7c7c7;
        margin-bottom: 0px;
    }

    .testimonials_area.testi_two {
        background: #fff;
    }

    .testimonials_area.testi_two .testi_inner {
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .testimonials_area.testi_two .owl-item {
        padding: 20px 0px;
    }

    .testimonials_area.testi_two .testi_item {
        background: #f9f9ff;
        border-color: #f9f9ff;
        transition: all 300ms linear 0s;
    }

    .testimonials_area.testi_two .testi_item:hover {
        background: #fff;
        border-color: #fff;
        box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
    }

    .testi_inner .col-lg-3 {
        vertical-align: middle;
        align-self: center;
    }

    .test_title h2 {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .test_title p {
        margin-bottom: 0px;
    }

    .testi_item {
        border: 1px solid #eeeeee;
        border-radius: 10px;
        background: #222222;
        padding: 40px 28px;
    }
    .testi_item p {
        color: #c7c7c7;
        text-align: center;
        font-style: italic;
    }

    .testi_item h3 {
        color: #edf0f1;
        font-size: 30px;
        font-family: "Outfit";
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .testi_item h4 {
        color: #c3c3c3;
        font-size: 18px;
        font-weight: lighter;
        font-family: "Montserrat";
        text-align: center;
        text-transform: lowercase;
        margin: -5px 0 10px 0;
    }
    .testi_item a {
        color: #ffbf00;
    }
</style>
