---
import Codepen from "./../../public/assets/codepen.png"
---

<div class="projects">
    <div class="project-container">
        <div class="project-main-card">
            <div class="project-card-bg">
                <img src={Codepen} alt="Codepen clone">
            </div>
            <div class="project-card"></div>
        </div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
    </div>
</div>

<style>
    .projects{
        margin-top:20px;
    }
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-main-card{
        position: absolute;
        width: 400px;
        height: 400px;
    }
    .project-card-bg{
        height: 100%;
        width: 100%;
        z-index:-1;
    }
    .project-card {
        width: 400px;
        height: 400px;
        /* background-color: #f1f1f1; */
        background-color: transparent;
        backdrop-filter: blur(30px);
        box-shadow: 14px 11px 20px 5px rgb(0 0 0 / 50%);
        margin: 10px;
        z-index: 1;
    }
</style>
