<section id="s-skills">
    <div class="grid-layout">
      <div id="skills">
        <article id="skills-text">
          <h2 class="delaySmallReveal">Conhecimentos <span>.</span></h2>
          <p class="delayMediumReveal changeDescription">
            *passe o cursor do mouse no card para ler*
          </p>
        </article>

        <div id="skills-cards">
          <article class="html intervalCardReveal">
            <span class="skills-cards-name-high">HTML</span>
            <img
              src="assets/icons/html.svg"
              width="60px"
              height="60px"
              alt="ícone do html"
              class="skills-icons"
            />
          </article>
          <article class="css intervalCardReveal">
            <span class="skills-cards-name-high">CSS</span>
            <img
              src="assets/icons/css.svg"
              width="60px"
              height="60px"
              alt="ícone do css"
              class="skills-icons"
            />
          </article>
          <article class="js intervalCardReveal">
            <span class="skills-cards-name-high">Javascript</span>
            <img
              src="assets/icons/js.svg"
              width="60px"
              height="60px"
              alt="ícone do javascript"
              class="skills-icons"
            />
          </article>
          <article class="sass intervalCardReveal">
            <span class="skills-cards-name-high">Sass</span>
            <img
              src="assets/icons/sass.svg"
              width="60px"
              height="60px"
              alt="ícone do sass"
              class="skills-icons"
            />
          </article>
          <article class="react intervalCardReveal">
            <span class="skills-cards-name-low">ReactJS</span>
            <img
              src="assets/icons/react.svg"
              width="60px"
              height="60px"
              alt="ícone do react"
              class="skills-icons"
            />
          </article>
          <article class="next intervalCardReveal">
            <span class="skills-cards-name-low">Next.js</span>
            <img
              src="assets/icons/next.svg"
              width="60px"
              height="60px"
              alt="ícone do next"
              class="skills-icons"
            />
          </article>
          <article class="styled intervalCardReveal">
            <span class="skills-cards-name-low aumento-hover"
              >Styled Components</span
            >
            <img
              src="assets/icons/styled.svg"
              width="60px"
              height="60px"
              alt="ícone do styled"
              class="skills-icons"
            />
          </article>
          <article class="tailwind intervalCardReveal">
            <span class="skills-cards-name-low">Tailwind</span>
            <img
              src="assets/icons/tailwind.svg"
              width="60px"
              height="60px"
              alt="ícone do tailwind"
              class="skills-icons"
            />
          </article>
        </div>
      </div>
    </div>
  </section>