---

---

<div class="section-skills">
    <div class="tarjeta">
        <figure>
          <img src="https://code.visualstudio.com/assets/images/code-stable.png" alt="Visual Studio Code">
          <figcaption>
            <p>Visual Studio Code</p>
          </figcaption>
        </figure>
      </div>
</div>

<style>
    .section-skills{
        background: #212529;
        padding: 100px;
    }

    .tarjeta {
  color: #c9d1d9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 9em;
  background-color: #161b22;
  border-radius: 6px;
  box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
  transition: transform .5s;
  overflow: hidden;
  margin-right:20px;
}

.tarjeta img {
  height: 5em;
  width: 5em;
}

.tarjeta:hover {
  transform: scale(1.05);
}

.tarjeta figure {
  width: 10em;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta figure > figcaption {
  font-weight: bold;
  text-align: center;
  opacity: 0; 
  transform: scale(1.15);
  position: absolute;
  width: 10em;
}

.tarjeta:hover > figure > img {
  filter: blur(10px);
  transition: filter .5s;
}

.tarjeta:hover > figure > figcaption {
  transform: scale(.9);
  opacity: 1;
  transition: scale, opacity, .5s;
}
    
</style>
