---
import Html from "./../../public/assets/coding.png";
---

<div class="section-skills">
    <div class="skills-container">
        <div class="skills-card">
            <div class="imgBx">
                <!-- html logo outline as image -->
                <img
                    src=""
                    alt="html logo" width="100%" height="100px"
                />
            </div>
            <div class="skills-content">
                <div>
                    <h3>HTML</h3>
                    <p>
                        HTML is the standard markup language for creating Web
                        pages.
                    </p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <div class="imgBx">
                <!-- html logo outline as image -->
                <img
                    src={Html}
                    alt="html logo"
                />
            </div>
            <div class="skills-content">
                <div>
                    <h3>HTML</h3>
                    <p>
                        HTML is the standard markup language for creating Web
                        pages.
                    </p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <div class="imgBx">
                <img
                    src={Html}
                    alt="html logo"
                />
            </div>
            <div class="skills-content">
                <div>
                    <h3>HTML</h3>
                    <p>
                        HTML is the standard markup language for creating Web
                        pages.
                    </p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <div class="imgBx">
                <img
                    src={Html}
                    alt="html logo"
                />
            </div>
            <div class="skills-content">
                <div>
                    <h3>HTML</h3>
                    <p>
                        HTML is the standard markup language for creating Web
                        pages.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .section-skills{
        background: #1f1f1f;
        padding: 100px;
    }
    .skills-container{
        position: relative;
        display: flex;
        background: #1f1f1f;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5rem 0;

        /* padding: 20px 0; */
        /* padding-left: 30px; */

    }
    .skills-card{
        /* padding:20px; */
        position :relative;
        background: #fff;
        display:flex;
        width:45%;
        height: 250px;
        margin: 30px 0;
        border-radius:20px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        justify-content: center;
    }    
    .skills-card .imgBx{
        position :absolute;
        top: 10px;
        left: 10px;
        background:rgba(255,255,255,0.2);
        backdrop-filter: blur(30px);
        height : calc(100%-20px);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
        border-radius: 20px;
        border:1px solid rgba(255,255,255,0.2);
        box-shadow : 5px 5px 30px rgba(0,0,0,0.2);
        width: calc(100% - 20px);
        transition: 0.5s ease-in;
    }
    .skills-card:hover .imgBx{
        height: 150px;
        width: 150px;
        left: -75px;
        top: calc(50% - 75px);
    }
    .skills-card .imgBx img{
        position: relative;
        height:230px;
    }
    .skills-card .imgBx img

</style>
