---
---

<div class="section-skills">
    <div class="sklls-head">
        <h2>Skills</h2>

    </div>
    <div class="right">
        <div class="vs-code">
            <figure>
                <img
                    src="https://code.visualstudio.com/assets/images/code-stable.png"
                    alt="Visual Studio Code"
                />
                <figcaption>
                    <p>Visual Studio Code</p>
                </figcaption>
            </figure>
        </div>
    </div>  
</div>

<style>
    .section-skills {
        background: #212529;
        padding: 100px;
    }

    .skills-head h2{
        font-size: 4.4rem;
        color : #3a86ff;
        font-weight: 600;
        margin-bottom: 20px;
        text-shadow: -10px 10px 15px rgba(0, 0, 0, .8);
    }

    .vs-code {
        color: #c9d1d9;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10em;
        height: 9em;
        background-color: #161b22;
        border-radius: 6px;
        box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%),
            0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
        transition: transform 0.5s;
        overflow: hidden;
        margin-right: 20px;
    }

    .vs-code img {
        height: 5em;
        width: 5em;
    }

    .vs-code:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .vs-code figure {
        width: 10em;
        height: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .vs-code figure > figcaption {
        font-weight: bold;
        text-align: center;
        opacity: 0;
        transform: scale(1.15);
        position: absolute;
        width: 10em;
    }

    .vs-code:hover > figure > img {
        filter: blur(10px);
        transition: filter 0.5s;
    }

    .vs-code:hover > figure > figcaption {
        transform: scale(0.9);
        opacity: 1;
        transition: scale, opacity, 0.5s;
    }
</style>
