---
import Html from "./../../public/assets/coding.png";
---

<div class="section-skills">
    
</div>

<style>
    .section-skills{
        background: #212529;
        padding: 100px;
    }
    
</style>
