---

---

<div class="section-skills">
    <div class="skill-card">
        <figure>
          <img src="https://code.visualstudio.com/assets/images/code-stable.png" alt="Visual Studio Code">
          <figcaption>
            <p>Visual Studio Code</p>
          </figcaption>
        </figure>
      </div>
</div>

<style>
    .section-skills{
        background: #212529;
        padding: 100px;
    }
    
</style>
