---
import Sphereskill from "./sphereskill.astro";
---

<div class="section-skills" id="skills">
    <div class="skills-container">
        <div class="skills-left left">
            <h1 id="about-head" class="main-head">
                Skills <span>&#38;</span> Experience
            </h1>
            <p class="text">
                More than a year of programming experience. I was drawn to full
                stack development and am now working in it after learning a lot
                about the front end, backend, and devops components.
            </p>
            <div class="skill-chart-container">
                <div class="skill-dropdown">
                    <div class="skill-dropdown-head">
                        <h1 class="skill-dropdown-head-text">Front-End</h1>
                        <div class="skill-dropdown-head-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-chevron-down a"
                            >
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg> 
                        </div>
                    </div>
                    <div class="skill-dropdown-content a1">
                        <card>
                            <span class="l-name">HTML</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">CSS</span>
                            <span class="l-exp">25+projects</span>
                        </card>
                        <card>
                            <span class="l-name">JavaScript</span>
                            <span class="l-exp">23+projects</span>
                        </card>
                        <card class="js">
                            <span class="l-name">Js Frameworks and libraries</span>
                            <span class="l-exp">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-chevron-down"
                            >
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                            </span>
                            <div class="js-lib">
                                <card>
                                    <span class="l-name">React</span>
                                    <span class="l-exp">4 projects</span>
                                </card>
                                <card>
                                    <span class="l-name">Vue</span>
                                    <span class="l-exp">1 mini-project</span>
                                </card>
                                <card>
                                    <span class="l-name">Angular</span>
                                    <span class="l-exp">1 mini-project</span>
                                </card>
                                <card>
                                    <span class="l-name">Svelte</span>
                                    <span class="l-exp">3 projects</span>
                                </card>
                            </div>
                        </card>
                    </div>
                </div>
                <div class="skill-dropdown">
                    <div class="skill-dropdown-head">
                        <h1 class="skill-dropdown-head-text">Back-end</h1>
                        <div class="skill-dropdown-head-icon">
                            <span class="down">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-chevron-down b"
                            >
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                            </span>
                        </div>
                    </div>
                    <div class="skill-dropdown-content b1">
                        <card>
                            <span class="l-name">Node.js</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">Express.js</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">Python</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">Flask</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">PHP</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">Sql</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                    </div>
                </div>
                <div class="skill-dropdown">
                    <div class="skill-dropdown-head">
                        <h1 class="skill-dropdown-head-text">
                            Programming Languages
                        </h1>
                        <div class="skill-dropdown-head-icon">
                            <span class="down">
                                    <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-chevron-down c"
                                >
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="skill-dropdown-content c1">
                        <card>
                            <span class="l-name">C</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">C++</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">Java</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">Python</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">JavaScript</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                        <card>
                            <span class="l-name">Rust</span>
                            <span class="l-exp">20+projects</span>
                        </card>
                    </div>
                </div>
                <div class="skill-dropdown">
                    <div class="skill-dropdown-head">
                        <h1 class="skill-dropdown-head-text">Others</h1>
                        <div class="skill-dropdown-head-icon">
                            <span class="down">
                                    <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-chevron-down d"
                                >
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="skill-dropdown-content d1"></div>
                </div>
            </div>
        </div>
        <div class="skills-right right">
            <Sphereskill />
        </div>
    </div>
</div>

<style>
    .b1,.c1{
        position: relative;
        bottom:70px;
    }
    .section-skills {
        background: #212529;
        /* padding: 100px; */
    }
    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 20px;
        /* flex-direction: row; */
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text {
        line-height: 3.2rem;
        color: #cccccc;
        font-family: "DM Sans";
        font-size: 1.8rem;
    }
    .left,
    .right {
        justify-content: space-around;
        background: #212529;
        /* border: 2px solid #fff; */
        position: relative;
        flex: 1;
        /* height: 100vh; */
        height: auto;
        width: 300px;
    }
    .left {
        margin-left: 50px;
        padding: 20px;
    }
    @media (max-width: 740px) {
        .left,
        .right {
            flex: 100%;
            margin: 0;
            width: 100%;
        }
        .left {
            margin-bottom: 20px;
        }
        .skills-container {
            flex-direction: column-reverse;
        }
    }
    .sub {
        font-size: 2.5em;
        text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.8);
    }
    .main-head {
        font-size: 4.4rem;
        font-weight: 600;
    }
    #about-head {
        /* font-size: 4.4rem; */
        color: #3a86ff;
        /* font-weight: 600; */
        margin-bottom: 20px;
        text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.8);
    }
    .skill-card {
        color: #c9d1d9;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10em;
        height: 9em;
        background-color: #161b22;
        border-radius: 6px;
        box-shadow: 15px 15px 15px rgb(0 0 0 / 20%), 0 10px 8px rgb(0 0 0 / 5%),
            0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
        transition: transform 0.5s;
        overflow: hidden;
        margin: 20px;
        flex-direction: column;
    }

    .skill-card img {
        height: 5em;
        width: 5em;
    }

    .skill-card:hover {
        transform: scale(1.05);
        /* cursor: pointer; */
    }

    .skill-card figure {
        width: 10em;
        height: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-card figure > figcaption {
        font-weight: bold;
        text-align: center;
        opacity: 0;
        transform: scale(1.15);
        position: absolute;
        width: 10em;
    }

    .skill-card:hover > figure > img {
        filter: blur(10px);
        transition: filter 0.5s;
    }

    .skill-card:hover > figure > figcaption {
        transform: scale(0.9);
        opacity: 1;
        transition: scale, opacity, 0.5s;
    }

    .skill-chart-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* user-select: none; */
    }
    .skill-dropdown {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border-radius: 10px;
    }
    .skill-dropdown-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 7px;
        z-index: -1;
    }
    .skill-dropdown-head-text {
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
    }
    .skill-dropdown-head-icon {
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
        /* padding-top: 5px; */
        position: relative;
        top: -2px;
        transform: translateZ(-10px);
        z-index: 0;
    }
    
    .skill-dropdown-content, .js-lib {
        display: none;
        z-index: 999;
        width: 90%;
        height: auto;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
        transform: translateZ(20px);
    }
    .js-lib{
        backdrop-filter: blur(10px);
        background-color: #212529;
        position:relative;
        top: -100%;
    }
    .skill-dropdown-content > card, .js-lib > card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border-radius: 10px;
        padding: 7px;
        z-index: -1;
    }
    card > .l-name,.l-exp {
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
        margin: 5px;
    }
    .enable{
        transform: rotate(180deg);
    }
    .js.enable{
        transform: rotate(0deg);
    }
</style>
