<div class="section-skills">
    <div class="skills-container">
        <div class="card">
            <div class="imgBx">
                <!-- html logo outline as image -->
                <img
                    src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png"
                    alt="html logo"
                />
            </div>
            <div class="content">
                <div>
                    <h3>HTML</h3>
                    <p>
                        HTML is the standard markup language for creating Web
                        pages.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <!-- html logo outline as image -->
                <img
                    src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png"
                    alt="html logo"
                />
            </div>
            <div class="content">
                <div>
                    <h3>HTML</h3>
                    <p>
                        HTML is the standard markup language for creating Web
                        pages.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <!-- html logo outline as image -->
                <img
                    src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png"
                    alt="html logo"
                />
            </div>
            <div class="content">
                <div>
                    <h3>HTML</h3>
                    <p>
                        HTML is the standard markup language for creating Web
                        pages.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    section-skills{
        background: #1f1f1f;
    }
</style>
