<div class="skills-container">
    <div class="card">
        <div class="imgBx">
            <img src="https://i.ibb.co/7XZ9Z5r/HTML.png" alt="HTML5">
        </div>
        <div class="content">
            <div>
                <h3>HTML</h3>
                <p>HTML is the standard markup language for creating Web pages.</p>
            </div>
        </div>
    </div>
</div>